
/* line 19, ../scss/2-framework/_buttons.scss */
.btn:hover, .btn:active, #submit:hover, #submit:active {
  cursor: pointer;
  background: #63a5d2;
  text-decoration: none;
}
/* line 26, ../scss/2-framework/_buttons.scss */
.btn:active, #submit:active {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 31, ../scss/2-framework/_buttons.scss */
.btn [class^="fa-"], #submit [class^="fa-"] {
  line-height: 0px;
}

/* line 38, ../scss/2-framework/_buttons.scss */
button.btn {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/* line 44, ../scss/2-framework/_buttons.scss */
.btn.small {
  padding: 8px 12px 10px;
  font-size: 0.750em;
}

/* line 51, ../scss/2-framework/_buttons.scss */
.btn.large {
  padding: 17px 24px;
  font-size: 1.500em;
}

/* line 58, ../scss/2-framework/_buttons.scss */
.btn-group {
  display: inline-block;
}
/* line 61, ../scss/2-framework/_buttons.scss */
.btn-group .btn {
  margin-right: -1px;
  float: left;
  border-radius: 0px;
}
/* line 66, ../scss/2-framework/_buttons.scss */
.btn-group .btn:first-child {
  border-radius: 3px 0px 0px 3px;
}
/* line 70, ../scss/2-framework/_buttons.scss */
.btn-group .btn:last-child {
  border-radius: 0px 3px 3px 0px;
}

/*------------------------------------*\
-------- Components
\*------------------------------------*/
/* line 1, ../scss/3-components/global/_site-header.scss */
.site-header-wrap {
  margin-bottom: 60px;
  padding: 45px 0px 40px;
  position: relative;
  border-bottom: 1px solid #000;
  background: #1b1b1b url("../img/dark-bg.png");
}
/* line 8, ../scss/3-components/global/_site-header.scss */
.site-header-wrap:after {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  background: url("../img/stripe-bg.png") repeat-x;
}

/* line 19, ../scss/3-components/global/_site-header.scss */
.site-header {
  width: 1000px;
  margin: 0px auto;
  text-align: center;
}

/* line 1, ../scss/3-components/global/_site-logo.scss */
.site-logo {
  font-family: "Asap";
  font-size: 3.000em;
  color: #777;
  line-height: 100%;
  -moz-transition: color linear 0.15s;
  -webkit-transition: color linear 0.15s;
  -o-transition: color linear 0.15s;
  -ms-transition: color linear 0.15s;
}
/* line 9, ../scss/3-components/global/_site-logo.scss */
.site-logo:hover {
  text-decoration: none;
  color: #fff;
}
/* line 15, ../scss/3-components/global/_site-logo.scss */
.site-logo span {
  display: block;
  font-size: 0.500em;
}

/* line 1, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.75);
}
/* line 8, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav a {
  margin-right: 40px;
  font-weight: 600;
  color: #777;
  -moz-transition: color linear 0.15s;
  -webkit-transition: color linear 0.15s;
  -o-transition: color linear 0.15s;
  -ms-transition: color linear 0.15s;
}
/* line 15, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav a:hover {
  text-decoration: none;
  color: #fff;
}
/* line 21, ../scss/3-components/global/_site-nav.scss */
.site-header .site-nav a [class^="fa-"] {
  margin-right: 5px;
  font-size: 1.200em;
}

/*------------------------------------*\
-------- General Styles
\*------------------------------------*/
/* line 36, ../scss/main.scss */
html, body {
  height: 100%;
  background: #fff;
}

/* line 41, ../scss/main.scss */
.main {
  width: 1000px;
  margin: 0px auto;
}

/* line 47, ../scss/main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 52, ../scss/main.scss */
.page-title {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}
